.note-color-red {
  background-color: var(--note-color-red);
}
.note-color-yellow {
  background-color: var(--note-color-yellow);
}
.note-color-green {
  background-color: var(--note-color-green);
}
.note-color-blue {
  background-color: var(--note-color-blue);
}
.note-color-purple {
  background-color: var(--note-color-purple);
}

.note-header {
  display: flex;
  justify-content: space-between;
}

.notes-labels {
  display: flex;
  flex-wrap: wrap;
}

.note-icon {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
}

.note-icon:hover {
  background-color: var(--icon-bg);
  border-radius: 50%;
}

.pin-note-icon {
  color: var(--primary-color);
}

.unpin-note-icon {
  color: var(--gray-txt);
}

.note-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-main {
  word-break: break-all;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.note-footer-options {
  display: flex;
}

@media screen and (max-width: 62.5em) {
  .note-footer-options {
    gap: 0.5em;
  }
}