.sidebar {
  position: relative;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  height: 85vh;
  overflow-y: scroll;
  padding-right: 0.5rem;
}

.mobile-sidebar {
  position: fixed;
  background-color: var(--primary-bg-transparent);
  z-index: 1;
  max-width: 20rem;
  display: none;
  flex-direction: column;
  height: 86vh;
  overflow-y: scroll;
  padding-right: 0.5rem;
}

.sidebar-user-info {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--primary-bg);
}

.sidebar-user {
  display: flex;
  align-items: center;
}

.avatar-sm {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 62.5em) {
  .sidebar {
    display: none;
  }

  .mobile-sidebar {
    display: flex;
  }
}
