.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--icon-bg);
  z-index: 1;
}

.edit-modal > .note {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  margin: auto;
}

@media screen and (max-width: 37.5em) {
  .edit-modal > .note {
    width: 100%;
  }
}
