.nav {
  display: flex;
  font-size: 1.2rem;
  width: 100%;
  height: 6vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
}

.nav.active {
  background-color: var(--btn-hover);
  color: var(--primary-text);
}

.nav:hover {
  background-color: var(--secondary-color);
}
